/* Portfolio  */
.container {
  width: 90%;
  margin: auto;
}

.port{
    margin-top: 80px;
  }
    
  
  .pi{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
  }
    
  .pi .image-1:hover{
    box-shadow: 5px 5px 15px #00000090;
    transition: 0.3s box-shadow;
  }
  
  
  /* .pi{
    display: flex;
    flex-direction: column;
  } */
  
  .pi1{
    width: 100%;
    display: flex;
    column-gap: 15px;
  }
    
  /* .det{
    width: 100%   ;
  } */
    
  .image-1{
    position: relative;
    width: 100%;
    /* object-fit: cover; */
  }
  
  .image-1 img{
    width: 100%;
    height:100%;
    object-fit: cover;
  }
    
  .con-text{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    margin: auto;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #00000070;
    color: rgb(255, 255, 255);
    transition: 0.3s background;
    visibility: hidden;
  }
  
  .con-text:hover{
    background: rgba(0, 0, 0, 0.89);
  }
  
  .image-1:hover > .context{
    visibility: visible;
    /* transition: 2s; */
  }
  
  .con-data{
    width: 70%;
    margin: auto;
    font-family: sans-serif;
  }
  
  
  .con-data a{
    color: white;
  }
  
  .con-data a:hover{
    color: rgb(226, 208, 43);
  }
  
  .sec-2{
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 15px;
  }
    
  .sec-2 img{
    width: 100%;
  }
    
  
    
  
  
  /* Section 2 */
    
  
  .pi2{
    display: flex;
    margin-top: 15px;
    column-gap: 15px;
    
  }
  
    
  /* .pi4{
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 15px;
  }
    
  .pi3{
    width: 100%;
    display: flex;
  
    column-gap: 15px;
    margin-top: 15px;
  }
    
  .pi3 img{
    width: 100%;
    object-fit: cover;
      
  } */